/.metadata/
/.recommenders/
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.jdt.core/697466898.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/version.ini
LVQ/bin/Input.class
*.class
.metadata/.log
.metadata/.log
.metadata/.log
.metadata/.log
.metadata/.log